{% extends '::admin/layout_admin.html.twig' %}
{% block prev %} <a href="{{path("admin_product")}}">Termékek listája</a> {% endblock %}
{% block title %}Új létrehozása{% endblock%}

{% block body -%}

<form novalidate="novalidate" action="{{ path('admin_product_create') }}" method="post" {{ form_enctype(form) }}>
    <label>Termék neve</label>                    
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    <p class="info">Az adott termék neve!</p>

    <label>Termék Ára</label>                    
        {{ form_widget(form.prize) }}
        {{ form_errors(form.prize) }}
    <p class="info">Az adott termék méterára!</p>

    <label>Termék Anyaga</label>                    
        {{ form_widget(form.anyag) }}
        {{ form_errors(form.anyag) }}
    <p class="info">Az adott termék anyaga!</p>

    <label>Termék Mérete</label>                    
        {{ form_widget(form.size) }}
        {{ form_errors(form.size) }}
    <p class="info">Az adott termék mérete!</p>


    <label>Termék Leírása</label>                    
        {{ form_widget(form.descreption) }}
        {{ form_errors(form.descreption) }}
    <p class="info">Az adott termék leírása!</p>



    <label>Termék Kategória</label>                    
        {{ form_widget(form.category) }}
        {{ form_errors(form.category) }}
    <p class="info">Az adott termék besorolása kategóriaba!</p>


    <label>Termék Főképe</label>                    
        {{ form_widget(form.file) }}
        {{ form_errors(form.file) }}
    <p class="info">Az adott termék borítóképe!</p>

    <label>Termék Alképe1</label>                    
        {{ form_widget(form.file2) }}
        {{ form_errors(form.file2) }}
    <p class="info">Az adott termék alképe!</p>
    <label>Termék Alképe2</label>                    
        {{ form_widget(form.file3) }}
        {{ form_errors(form.file3) }}
    <p class="info">Az adott termék alképe!</p>
    <label>Termék Alképe3</label>                    
        {{ form_widget(form.file4) }}
        {{ form_errors(form.file4) }}
    <p class="info">Az adott termék alképe!</p>
{{ form_widget(form) }}
    <p>
        <button type="submit">Hozzáadás</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_product') }}">
            Vissza a listához
        </a>
    </li>
</ul>
{% endblock %}
